<form action="/posts/update/<%= @post.id %>">
    <input type="sting" name="title" value="<%= @post.title %>">
     <input type="textarea" name="content" value="<%= @post.content %>">
    <button type="submit" >수정하기!</button>
</form>
