<form action="/posts/create">
    <input type="sting" name="title" placeholder="제목을 입력하세요.">
     <input type="textarea" name="content" placeholder="내용을 입력하세요.">
    <button type="submit" >제출하기!</button>
</form>
