@import 'bootstrap.min';
@import 'demo';
@import 'material-dashboard.css';
@import 'material-dashboard.scss';

/*

 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 *= require_bootstrap.min
 *= require_demo
 *= require_material-dashboard
 */


 // google web font hangeal
 @import url(http://fonts.googleapis.com/earlyaccess/hanna.css);


 html {
   font-size: 15px;
   line-height: 1.6;
 }

 * {
   font-family: 'Open Sans', sans-serif;
   color: #181818;
 }

  .navbar-brand {
    font-family: 'Hanna', serif;
    font-size: 1.333rem;
    font-weight: 400;
    line-height: 1;
  }

 .header {
   height: 600px;
  //  border-color: black;app\assets\images\uh_em\index_0804-01.png
   background-image: url("http://postfiles3.naver.net/MjAxNzA4MDRfMTI4/MDAxNTAxODQ3NzU3OTM2.fhORF2kd2QzPFmtE3o6cs1mxB8jfE7caq_R3YyA_XXIg.qvsNBq0xu1bPBcYmmgL1H_rCxXbGcx6sjMMhrDQzMCUg.PNG.jahnne/index_0804-01.png?type=w773");
   background-size: cover;
   background-repeat: no-repeat;
   background-position: center center;
 }

 .nav .navbar-nav {
   margin-left : auto;
 }
