<div class="index">
    <div class="row index-logo">
      <img src="/assets/0812index-logo.png" alt="index-logo">
    </div>

    <div class="buttons container">
      <div class="price row justify-content-center">

        <div class="price-1 row my-3">
          <label for="pricebottom" class="col-4 col-form-label my-auto">최저가</label>
          <div class="col-8 my-auto">
            <input class="price_low" type="number" placeholder="가격입력" id="priceLow">
          </div>
        </div>

        <div class="price-2 row my-3">
          <label for="pricetop" class="col-4 col-form-label my-auto">최고가</label>
          <div class="col-8 my-auto">
            <input class="price_top" type="number" placeholder="가격입력" id="priceTop">
          </div>
        </div>

        <div class="location row my-3">
        <!-- <label for="userlocation" class="col-4 col-form-label my-auto">당신의 위치</label> -->
            <div class="col-8 my-auto">
              <input class="user_location" type="text" placeholder="위치를 입력해주세요." id="userLocation">
            </div>
        </div>

        <div class="submitbutton row justify-content-center">
          <button type="submit" class="btn my-auto">Submit</button>
        </div>

      </div>
    </div>
 </div>
